.appcold{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)) , url(./Assets/cold-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'montseratt',sans-serif;
  transition: 0.4s ease-out;
  height: 100vh;

} 

.appwarm{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)) , url(./Assets/warm-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'montseratt',sans-serif;
  transition: 0.4s ease-out;
  height: 100vh;
} 


/* use classs name appwarm and appcold instead of body to change the bg based on the weather */

.Search{
 padding: 15px 30px;
 border: solid 2px white;
 margin: 15px 0px;
 box-shadow:3px 4px rgb(204, 199, 199);
 outline: none;
 opacity: 0.8;
 width: 100%;

}

.place{
  font-size: 42px;
  color: rgba(255, 255, 255,0.9);
  text-shadow:2px 3px rgb(158, 141, 141);
  margin-top: 30px;
  font-weight: bolder;

}

.date{
  color: rgba(255, 255, 255,0.7);
  text-shadow:2px 3px rgb(158, 141, 142);
  font-size: 25px;
  padding-bottom: 40px;
  font-style: italic;
  margin-bottom: 68px;
  margin-top: -22px;
}


p.tempr{
  text-align: center;
  display: inline;
  font-size: 50px;
  color: rgba(255, 255, 255,0.7);
  text-shadow: 3px 2px rgba(0, 0, 0, 0.3);

  background: rgba(252, 250, 250, 0.2);
  box-shadow: 2px 3px rgba(56, 45, 45, 0.2);
  border-radius: 8px;
  padding: 20px;
}

.climate{
  color: rgba(255, 255, 255,0.7);
  text-shadow:2px 3px rgb(158, 141, 142);
  font-size: 55px;
  margin-bottom: 30px;
  font-weight: bold;
  margin-top: 45px;
}

button{
  background-color: rgba(255, 255, 255,0.8);
  outline: none;
  border: solid 3px transparent;
  border-radius: 10px;
  font-weight: 900;
  opacity: 0.9;
  box-shadow: 2px 3px rgb(158, 141, 142) ;
  color: rgba(165, 165, 165,0.8);
  padding: 5px 10px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(10, 10, 10,0.8);
  color: rgb(202, 202, 202);
  text-align: center;
}

